<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
">
   
    <context:annotation-config/>
    
    
  
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.connection.impl.ConnectionFactoryImplDataSource" />
    <bean class="com.fpmislata.banco.common.json.impl.JsonConvertImplJackson" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.SucursalBancariaDAOImplJDBC" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.EntidadBancariaDAOImplJDBC" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.EmpleadoDAOImplJDBC" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.ClienteDAOImplJDBC" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.MovimientoBancarioDAOImplJDBC" />
    <bean class="com.fpmislata.banco.persistencia.impl.jdbc.CuentaDAOImplJDBC" />
</beans>