<div id="contenedor">
    <h1>Movimiento Bancario</h1>
    <span>Id movimiento bancario: </span>
    <input ng-disabled="action==='update'||action==='delete'" type="text" ng-model="movimientoBancario.idMovimientoBancario"/></br>
<span>Cuenta origen: </span>
    <input ng-disabled="action==='delete'" type="text" ng-model="movimientoBancario.cuentaOrigen"/><br>
<span>Cuenta destino: </span>
    <input ng-disabled="action==='delete'" type="text" ng-model="movimientoBancario.cuentaDestino"/><br>
   <span>Cantidad: </span>
    <input ng-disabled="action==='delete'" type="text" ng-model="movimientoBancario.cantidad"/><br>
    <span>Motivo: </span>
    <input ng-disabled="action==='delete'" type="text" ng-model="movimientoBancario.motivo"/><br>
    
    <button ng-show="action==='delete'" ng-click="deleteMovimiento(movimientoBancario.idMovimientoBancario)">Borrar Movimiento</button>
    <button ng-show="action==='insert'" ng-click="insertarMovimiento(movimientoBancario.idMovimientoBancario)">Insertar Movimiento</button>
    <button ng-show="action==='update'" ng-click="modificarMovimiento()">Modificar Movimiento</button>
</div>