
<h2>Entidades Bancarias: </h2>
<div id="tabla">
    <table>
        <tr>
            <th>Id Entidad</th>
            <th>Nombre Entidad</th>
            <th>Código Entidad</th>
            <th></th>
            <th></th>
        </tr>

        <tr ng-repeat="entidadBancaria in entidadesBancarias">
            <td>{{entidadBancaria.idEntidadBancaria}}</td>
            <td>{{entidadBancaria.nombre}}</td>
            <td>{{entidadBancaria.codigoEntidad}}</td>
            <td><a ng-click="editarEntidadBancaria(entidadBancaria.idEntidadBancaria)">Editar</a></td>
            <td><a ng-click="borrarEntidadBancaria(entidadBancaria.idEntidadBancaria)">Borrar</a></td>
        </tr>
    </table>
    <br/>
    <a href="#/entidadbancaria/detalles" class="boton">Nueva Entidad Bancaria</a>
</div>